@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.item-card{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  transition: all 0.2s ease; 
  @apply rounded-md border-opacity-10   bg-gradient-to-br from-[#faf5ff] to-[#f7ebff] h-72
}
.item-card:hover {
  cursor: pointer;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
  
}